# Core
streamlit
pillow

# ML / DL
torch
torchvision
torchaudio

# Image/Video handling
opencv-python-headless
moviepy         # alternative to extract frames without cv2

# Utilities
numpy
pandas
# GCP access
google-cloud-storage
google-auth
