# Core
streamlit
pillow

# ML / DL
torch
torchvision
torchaudio

# Image/Video handling
opencv-python   # for reading video frames
moviepy         # alternative to extract frames without cv2

# Utilities
numpy
