# Core
streamlit
pillow
ultralytics

# ML / DL
torch
torchvision
torchaudio

# Image/Video handling
opencv-python-headless
moviepy         # alternative to extract frames without cv2

# Utilities
numpy
pandas
pillow
numpy
requests

# GCP access
google-cloud-storage
google-auth
